<!DOCTYPE html>
<html sigplusextliteextension-installed="true" extension-version="2.0.15.0" lang="en">
  <head>
     
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>404 Not Found</title>
    <!-- <base href="https://portal.axpuat.cpf.gov.sg/test_workspace_01/"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">

    <style>

      .a {
        color: var(--hero);
      }

    </style>

    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/highlight.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/framework.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/site.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <div class="row">
          <div class="four columns">
            <h1 class="brand"><a href="https://portal.axpuat.cpf.gov.sg/test_workspace_01"><img class="logo" src="static/images/Logo.png" alt="API Exchange Developer Portal"></a></h1>
          </div>
        </div>
      </div>
      </header>

    <div class="page vh-100">
      <div class="container h-100 py-5 d-flex flex-column">
        <p>An unexpected error has occurred. If you entered the URL manually, please check your spelling and try again.</p>
        <br>
        <a href="/">
          <button class="block">Back to OAS Checking</button>
        </a>
      </div>
    </div>

  </body>